In [487]:
pip install pandas

Requirement already satisfied: pandas in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [488]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Deepak\Downloads\us_customer_data.csv")

In [489]:
df.tail() #first five rows

,customer_id,name,email,phone,address,registration_date,loyalty_status
995,996,Jerry Mcdaniel,walkerlisa@example.net,838.471.6445,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [490]:
df.head() #last five rows

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold

In [491]:
df.info() #data types and notnull count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              950 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [492]:
df.columns

Index(['customer_id', 'name', 'email', 'phone', 'address', 'registration_date',
       'loyalty_status'],
      dtype='object')

In [493]:
df.describe()

       customer_id
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [494]:
df1=pd.read_csv(r"C:\Users\Deepak\Downloads\transaction_data.csv")

In [495]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [496]:
df1[df1.duplicated("customer_id")]

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
20,21,752,2707.82,2025-05-26 07:35:44,Clothing,Credit Card,Miami
45,46,210,4277.78,2025-02-23 04:30:59,Beauty,Credit Card,Online
48,49,752,1431.10,2025-01-19 09:07:55,Electronics,PayPal,New York
64,65,67,3716.87,2025-04-11 18:34:23,Electronics,Cash,Online
90,91,373,457.98,2025-01-11 01:40:24,Clothing,Credit Card,Los Angeles
...,...,...,...,...,...,...,...
993,994,443,4232.53,2025-02-28 04:00:04,Electronics,Debit Card,Chicago
994,995,927,1368.17,2025-02-08 21:53:32,Clothing,Cash,Los Angeles
995,996,60,712.47,2025-01-13 14:16:32,Electronics,Debit Card,New York
997,998,669,3069.08,2025-04-01 19:59:01,Home,PayPal,Los Angeles
999,1000,925,4141.44,2025-05-24 13:39:19,Electronics,PayPal,Online

In [497]:
df1.head()

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
0,1,565,2992.47,2025-03-10 01:20:54,Sports,Debit Card,New York
1,2,323,2041.87,2025-01-02 15:24:19,Clothing,Cash,New York
2,3,398,107.35,2025-02-16 03:49:01,Beauty,Debit Card,Online
3,4,19,NaN,2025-04-30 15:26:23,Sports,Debit Card,Los Angeles
4,5,547,3063.28,2025-06-14 04:28:53,Clothing,PayPal,Los Angeles

In [498]:
spent_more_than_2k = df1[df1['amount']>2000]
spent_more_than_2k

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
0,1,565,2992.47,2025-03-10 01:20:54,Sports,Debit Card,New York
1,2,323,2041.87,2025-01-02 15:24:19,Clothing,Cash,New York
4,5,547,3063.28,2025-06-14 04:28:53,Clothing,PayPal,Los Angeles
6,7,615,3027.38,2025-03-18 15:59:16,Beauty,Credit Card,Chicago
7,8,1,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
...,...,...,...,...,...,...,...
993,994,443,4232.53,2025-02-28 04:00:04,Electronics,Debit Card,Chicago
996,997,235,2125.18,2025-06-09 12:37:36,Electronics,PayPal,Chicago
997,998,669,3069.08,2025-04-01 19:59:01,Home,PayPal,Los Angeles
998,999,931,2262.75,2025-06-08 01:36:01,Clothing,Debit Card,Online
999,1000,925,4141.44,2025-05-24 13:39:19,Electronics,PayPal,Online

In [499]:

df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,838.471.6445,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [500]:
mail_na = df[df['email'].isna()]
mail_na

,customer_id,name,email,phone,address,registration_date,loyalty_status
27,28,Brandon Hall,NaN,858-252-9573,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",2024-04-07,Gold
35,36,Christopher Clark,NaN,526.725.4397x47233,"2325 Danielle Knolls Suite 719, Gabrielleview,...",2024-01-13,Gold
50,51,David Garza,NaN,001-823-650-0884x4834,"USS Williams, FPO AA 77634",2023-10-24,Silver
73,74,Tony Romero,NaN,NaN,"92893 Lopez Key Apt. 330, South Latasha, NJ 01621",2023-08-01,Gold
74,75,Haley Jones,NaN,282.685.2507x803,"43986 Frost Forge, East Michellemouth, FL 84797",2024-12-27,Gold
94,95,Jacob Pratt,NaN,001-571-489-8010x6124,"902 Christine Port, North Deanna, TN 03407",2024-07-02,Silver
103,104,Jacob Williams,NaN,437-254-2080x480,"Unit 8694 Box 6181, DPO AE 32297",2024-07-10,Silver
209,210,Steven Little,NaN,(957)520-6709x5149,"98653 Patel Brook Suite 801, North Pamela, VA ...",2024-11-09,Gold
225,226,Ryan Thompson,NaN,+1-669-615-7174,"62857 Anne Trafficway Suite 294, New Anthony, ...",2025-03-28,Gold
239,240,Jocelyn Brandt,NaN,381.563.2816x8488,"50829 Case Pine, Christopherside, ND 87541",2023-08-14,Gold
250,251,Jonathan Hernandez,NaN,341-867-1587,"PSC 5796, Box 7390, APO AP 24704",2024-09-26,Silver
281,282,James Jensen,NaN,+1-769-635-8346,"774 Lauren Squares, Costahaven, IA 17042",2025-01-07,Gold
283,284,Jennifer Hill,NaN,+1-466-448-2723x593,"9922 Ronald Ridges, Lake Rachel, MH 97898",2025-06-04,Bronze
284,285,Timothy Roberts,NaN,516-310-9434x26918,"947 Singh Summit Apt. 802, Johnsburgh, CO 65026",2023-10-24,Gold
293,294,Sarah Porter,NaN,907.339.2938x748,"251 Lisa Rue Suite 975, Rodriguezchester, AR 3...",2023-08-31,Bronze
317,318,Jade Guerrero,NaN,(313)924-0006x09544,"2807 Coleman Unions Suite 682, West Christineb...",2024-12-20,Silver
367,368,Micheal Hess,NaN,001-533-410-9534x6370,"07256 Johnson Row, East Rebecca, GU 81645",2023-12-16,Bronze
389,390,Jennifer Church,NaN,945-401-8189x295,"7024 Dustin Hollow, East Mariaburgh, TX 82934",2024-06-29,Bronze
416,417,Kimberly Keith,NaN,(475)585-6585x2149,"023 Donald Streets, Hoffmanberg, MA 60517",2023-12-18,Silver
434,435,Megan Moore,NaN,+1-803-921-1436,"4606 Spencer Lake, South Randallfurt, MD 48335",2024-07-26,Gold
440,441,Stephanie Frank,NaN,995-356-2361x2843,"Unit 8568 Box 7099, DPO AA 48495",2025-03-09,Bronze
467,468,Alice Cruz,NaN,593-240-3965x4730,"042 Scott Expressway, Marcshire, SD 01800",2025-02-01,Bronze
481,482,Paula Anderson,NaN,815-530-5841x33910,"3992 Hannah Flat Suite 078, East Adamfort, CO ...",2023-09-09,Gold
484,485,Leslie Gomez,NaN,9039620546,"04538 Johnson Falls Apt. 264, Kellybury, FL 80020",2024-06-28,Bronze
491,492,Shannon Wright,NaN,257.830.4932x223,"586 Thomas Crescent, Murphyshire, WY 36239",2025-04-06,Bronze
497,498,Matthew Salazar,NaN,001-797-615-2859x75759,"340 Nathaniel Mill, New Patricia, NC 94010",2023-09-29,Silver
498,499,Shane Warner,NaN,NaN,"8106 Cory Green Apt. 982, South Katherinefort,...",2024-06-28,Bronze
544,545,Mary Buck,NaN,+1-820-693-3394x211,"7681 Linda Glen Suite 691, North Ronaldfort, A...",2024-05-20,Gold
571,572,Ms. Stephanie Rodriguez MD,NaN,981-524-9535,"11787 Catherine Divide, Russellmouth, CO 67747",2024-07-26,Bronze
591,592,Joshua Blankenship,NaN,324.587.3078,"18212 David Run Suite 210, Lindsaychester, OR ...",2024-02-21,Gold
620,621,Christina Erickson,NaN,+1-480-369-4397x153,"60718 Melissa Ville, East Justin, MT 85526",2025-05-05,Gold
686,687,Thomas Oneill,NaN,001-643-344-9861,"4512 Kathryn Manor Suite 493, Port Terri, MN 7...",2023-11-15,Silver
707,708,Susan Allen,NaN,NaN,"7429 Allen Branch Apt. 579, South Jaimeside, T...",2023-10-29,Gold
719,720,Jennifer Smith,NaN,+1-750-280-4572x37726,"209 Rodgers Pike Apt. 174, New Markside, VI 72242",2023-09-17,Gold
721,722,Jimmy Hernandez,NaN,(664)510-3790x755,"788 Pamela Spurs, West Nicholasburgh, AR 21022",2024-01-11,Gold
725,726,Helen Finley,NaN,344.656.7274,"129 Barnes Lane, Ramirezton, GA 08400",2024-07-19,Gold
747,748,Derrick Gray,NaN,001-570-431-3417x52898,"603 Tara Meadows, Carsonview, MS 64700",2023-09-25,Gold
748,749,Daniel Freeman,NaN,823.548.2364x6064,"283 Meyers Lock Suite 379, Millerburgh, RI 88856",2025-06-05,Bronze
800,801,Tammy Walker,NaN,NaN,"440 Willis Green, New Katrinaland, MO 82775",2023-09-16,Silver
815,816,Janice Olson,NaN,(234)782-1373x6374,"9546 Colin Key Suite 653, Walkermouth, PW 47699",2024-08-10,Silver
828,829,Joshua Moore,NaN,753-229-5959x4282,"USNS Owens, FPO AE 60039",2023-09-13,Gold
834,835,Mrs. Laurie Jennings,NaN,001-701-430-9498x100,"85592 Timothy Walks, Alyssaland, AS 39601",2024-09-25,Bronze
847,848,Kristopher Lewis,NaN,8542508423,"8713 Robert Knolls, North Chris, FM 69864",2024-04-22,Gold
851,852,Andrew Garcia,NaN,001-938-982-5413x0428,"471 Miller Cove Apt. 974, New Gail, CT 52595",2025-02-14,Bronze
857,858,Andrea Miranda,NaN,228-391-8977,"560 Melinda Haven, West Davidchester, PW 87390",2023-11-17,Bronze
868,869,Anna Graves,NaN,893-685-9679x613,"11136 Howard Courts, Greenstad, OR 22596",2023-10-13,Bronze
899,900,Stephanie Perry,NaN,612.351.4724x349,"2611 Beasley Valleys, Danaburgh, MS 60418",2024-04-19,Bronze
920,921,Robin Barber,NaN,5014396860,"291 William Ways, Jenkinshaven, MA 88232",2024-01-13,Silver
946,947,Wendy Lopez,NaN,840-955-1330,"16210 Christie Drives Apt. 640, North Jamesvil...",2024-01-23,Gold
970,971,Charlotte Kline,NaN,(710)300-3577x978,"6992 Jones Forest Apt. 304, Leeborough, PR 72282",2023-08-07,Bronze

In [501]:
df['email'] = df['email'].fillna(
df['name'].str.replace(" ", "").str.lower() + "@gmail.com"
)

In [502]:
mail_na = df[df['email'].isna()]
mail_na

Empty DataFrame
Columns: [customer_id, name, email, phone, address, registration_date, loyalty_status]
Index: []

In [503]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,838.471.6445,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [504]:
repeated_customers = df[df.duplicated('customer_id', keep=False)]
repeated_customers

Empty DataFrame
Columns: [customer_id, name, email, phone, address, registration_date, loyalty_status]
Index: []

In [505]:

df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,838.471.6445,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [506]:
df['phone'].isna().sum()

np.int64(50)

In [507]:
missing_phones = df[df['phone'].isna()]
missing_phones

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
67,68,Christopher Adkins,patricia48@example.com,NaN,"USNV Kennedy, FPO AA 06170",2024-09-19,Silver
70,71,Patrick Gibson,ashleygarner@example.org,NaN,"924 Riley Trail Suite 206, Lake Karenshire, RI...",2023-09-13,Gold
73,74,Tony Romero,tonyromero@gmail.com,NaN,"92893 Lopez Key Apt. 330, South Latasha, NJ 01621",2023-08-01,Gold
80,81,Charles Fitzgerald,nicole67@example.com,NaN,"78180 Todd Loaf, Matthewbury, MO 31158",2025-01-16,Gold
128,129,Nathan Pearson,williamsjoel@example.org,NaN,"47087 Douglas Ports, Austinchester, TN 99409",2023-09-08,Bronze
163,164,Dr. Michelle Washington,snyderdavid@example.org,NaN,"69374 Kevin Falls, New Anthony, NC 01785",2024-05-08,Bronze
178,179,Tracey Smith,karen86@example.net,NaN,"083 Graham Mall Apt. 598, New Johnberg, MT 47638",2023-07-04,Gold
182,183,Jacob Garcia,olsenamy@example.com,NaN,"USCGC Schwartz, FPO AP 74066",2024-04-27,Gold
211,212,Andrea Harris,lucas50@example.net,NaN,"04344 Mary Point, Robertland, NY 04590",2025-04-23,Silver
262,263,Amy Wilson,umorris@example.net,NaN,"2892 Edward Oval Apt. 027, Amandafurt, NC 52635",2024-03-11,Silver
286,287,Johnny Macdonald,kenneth82@example.net,NaN,"Unit 5857 Box 7015, DPO AA 65905",2024-10-31,Gold
328,329,Wendy Mcbride,holtdawn@example.com,NaN,"31049 Jerry Haven, Port Matthewchester, FL 56932",2025-03-13,Gold
387,388,Jennifer Knox,paulcalhoun@example.org,NaN,"23014 Graves Manors Suite 517, Lake Krista, OK...",2024-09-17,Silver
393,394,Michael Juarez,deborahschmitt@example.com,NaN,"065 Huffman Flat, East Michael, NH 86560",2024-06-09,Silver
412,413,Mia Johnson,krausejeffrey@example.net,NaN,"111 Tristan Road Suite 673, Angelaborough, PR ...",2024-02-17,Silver
413,414,Stephen Jensen,bdonovan@example.net,NaN,"459 Williams Coves Suite 877, Andersonhaven, V...",2024-02-28,Bronze
419,420,Elizabeth Stewart,latoya75@example.com,NaN,"394 Nguyen Crossroad, Acostafurt, NM 62339",2024-11-26,Silver
438,439,William Barber,angela80@example.org,NaN,"5210 Tammy Streets Apt. 886, New Emmafurt, UT ...",2024-11-08,Silver
439,440,Nicole Evans,lopezdiane@example.com,NaN,"63249 Michele Rue Suite 199, South Jenniferbur...",2023-06-20,Gold
447,448,Kara Forbes,yujeremy@example.org,NaN,"849 Michelle Tunnel, Carpenterville, FL 51119",2025-04-14,Bronze
452,453,Miss Carolyn Gilbert,jrobinson@example.org,NaN,"USS Zhang, FPO AA 18184",2023-10-07,Bronze
461,462,Curtis Henderson,rebecca83@example.org,NaN,"2355 Bradley Crossing, Yeseniastad, GU 35506",2024-12-27,Gold
462,463,Jessica Jones,ajenkins@example.net,NaN,"621 Ronald Trail, Calvinbury, MN 55461",2025-05-25,Silver
473,474,Connor Mcintyre,jgarcia@example.org,NaN,"15813 Romero Rapid, Jonesville, PR 59375",2025-01-20,Bronze
498,499,Shane Warner,shanewarner@gmail.com,NaN,"8106 Cory Green Apt. 982, South Katherinefort,...",2024-06-28,Bronze
541,542,William Adams,jacksonchloe@example.com,NaN,"1445 Perkins Club Apt. 998, Arielhaven, TX 44131",2024-10-16,Bronze
563,564,Brandon Brown,richardsrobert@example.org,NaN,"USNV Dunn, FPO AE 71462",2025-04-12,Bronze
573,574,Samuel Martinez,kelly59@example.org,NaN,"81258 Brock Lakes Apt. 336, Stephentown, VI 45973",2024-03-28,Bronze
582,583,Shawn Edwards,patriciabarnett@example.net,NaN,"84333 Alexis Extension, New Patriciaberg, ME 5...",2025-04-17,Gold
594,595,Ian Roberts,yjohnson@example.net,NaN,"4486 Stephanie Creek, Youngview, NM 44792",2023-12-08,Silver
597,598,Melissa Adams,aimee17@example.net,NaN,"662 Kimberly Row Suite 993, Rebeccaborough, MT...",2023-10-18,Gold
624,625,Allison Thomas,craigwyatt@example.net,NaN,"6735 Morgan Track Apt. 994, Port Scott, CA 91138",2024-07-13,Silver
707,708,Susan Allen,susanallen@gmail.com,NaN,"7429 Allen Branch Apt. 579, South Jaimeside, T...",2023-10-29,Gold
745,746,Heather Martin,mcdowellkatie@example.net,NaN,"651 Flores Street, Port Micheleshire, MS 00622",2024-03-26,Silver
777,778,Shelly Cook,alan66@example.com,NaN,"7804 Long Square Suite 159, East Jerryfurt, HI...",2024-03-23,Gold
780,781,Melissa Stout,dawnporter@example.org,NaN,"57561 Erin Falls Suite 157, Currychester, PW 0...",2024-09-18,Bronze
800,801,Tammy Walker,tammywalker@gmail.com,NaN,"440 Willis Green, New Katrinaland, MO 82775",2023-09-16,Silver
813,814,Eric Moore,willie58@example.org,NaN,"35150 Carter Hollow, Davidshire, MS 70876",2024-02-21,Silver
839,840,Deanna Skinner,qmiller@example.net,NaN,"02791 Tara Manor, Hannahfurt, CO 54476",2023-11-13,Silver
884,885,Mary Anderson,vincent73@example.org,NaN,"22877 Jesus Street Suite 558, Morganfort, SC 2...",2025-03-22,Silver
885,886,Dorothy Ochoa,adkinsrebecca@example.org,NaN,"01662 Mary Pines, Port Stevenchester, WI 28329",2025-02-12,Bronze
904,905,Rachel Schroeder,sydneyfernandez@example.com,NaN,"723 Ramos Throughway Suite 167, Padillaberg, O...",2024-09-21,Gold
938,939,Pamela Taylor,lauren39@example.net,NaN,"370 John Lodge Apt. 303, North Maria, ID 62354",2025-04-18,Gold
949,950,Ann Ochoa,anthony36@example.org,NaN,"58088 Justin Mews, East Debra, ID 04518",2023-09-26,Silver
956,957,Aaron Wagner,eharvey@example.com,NaN,"55147 Howard Parks, Piercemouth, OK 38320",2023-07-19,Bronze
966,967,Jesse Shea,erinschultz@example.net,NaN,"2509 Sosa Common Suite 896, Alexview, HI 09807",2024-02-11,Gold
979,980,Sharon Hernandez,sherry23@example.com,NaN,"PSC 2167, Box 8119, APO AE 16205",2025-03-31,Gold
989,990,Mrs. Alexis Brown,amy77@example.com,NaN,"083 John Lock, East Dennis, NY 30784",2024-03-09,Gold
990,991,Erica Fleming,erica85@example.net,NaN,"55648 Gilbert Square, Port Jessica, OR 63566",2025-01-21,Silver

In [508]:
df['email']=df['email'].fillna(
    df['name'].str.replace(' ','').str.lower()+""
)

In [509]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
...,...,...,...,...,...,...,...
995,996,Jerry Mcdaniel,walkerlisa@example.net,838.471.6445,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [510]:

df['phone'] = df['phone'].fillna("not provided")

In [511]:
df
df['phone'].isnull()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Name: phone, Length: 1000, dtype: bool

In [512]:
df.head(60)

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,not provided,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold
5,6,Darrell Gallagher DVM,larryharris@example.org,+1-971-475-6369x8486,"19887 Brandon Bridge, New Rebecca, MA 94947",2025-03-03,Bronze
6,7,Louis Miller,patriciaelliott@example.org,001-418-931-4146x588,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold
7,8,Melissa Galloway MD,watsonbenjamin@example.net,+1-593-948-3872,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",2023-10-06,Bronze
8,9,Matthew Harvey,bgaines@example.net,(710)854-4550,"60123 Davis Ford, Mistychester, WA 69400",2024-10-31,Silver
9,10,Rachel White,whitemichael@example.org,001-920-793-4515x302,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze
10,11,Nicole Yang,archerheather@example.org,001-385-627-5676x7067,"923 Emily Mills Apt. 281, Port Roy, WI 03921",2025-03-08,Bronze
11,12,Christine Delgado,yfarrell@example.net,932.206.7195x8325,"PSC 4025, Box 2078, APO AA 61121",2024-04-18,Bronze
12,13,Joseph Brennan,khernandez@example.com,549-356-4430,"8890 Keller Hills, North Paul, FM 64749",2024-04-28,Gold
13,14,Eric Thomas,spencer75@example.com,001-353-817-6492x04270,"352 Joel Extension Suite 962, New Anthony, CO ...",2024-05-09,Bronze
14,15,Laura Perez,sdavid@example.com,511.900.2681x4189,"1518 Green Locks Suite 348, New Brent, FM 51849",2024-12-04,Gold
15,16,Erin Matthews,uhunter@example.net,889-275-9024x61618,"67623 Morgan Hollow, Hillshire, IL 78665",2023-11-12,Bronze
16,17,Melissa Alvarado,parkjohn@example.net,+1-345-478-5691x220,"USNS Austin, FPO AP 52643",2024-06-24,Gold
17,18,Mr. Ernest Dunn,kelseybrown@example.net,6209840256,"3112 Lydia Freeway Suite 927, South Susan, RI ...",2025-01-27,Gold
18,19,David Johnson,marynelson@example.org,+1-847-920-4578x754,"992 Harris Pines Suite 049, North Marychester,...",2025-02-21,Silver
19,20,Wayne Morales,qwilliams@example.com,956-836-0130,"15344 Hill Pike, Matthewport, FL 45434",2025-02-22,Gold
20,21,Michael Vincent,jonesjeffrey@example.com,765-684-4638x56611,"455 Moore Orchard, New Richardhaven, RI 42023",2024-06-13,Silver
21,22,Tammie Mcgee,nsullivan@example.com,2832830187,"6371 Long Path Apt. 940, South Anthonyton, MT ...",2024-10-24,Silver
22,23,Marisa Martinez,zward@example.org,3925177127,"5029 Wall Mountain Suite 847, New Chelseabury,...",2025-03-29,Bronze
23,24,Crystal Peterson,taylorcharles@example.com,(964)280-9583x310,"Unit 5741 Box 1124, DPO AA 18219",2023-08-07,Bronze
24,25,Jeremy Alexander,smithkevin@example.com,475-930-5339x6078,"1520 Reid Turnpike, Clarkville, CA 39102",2025-06-13,Silver
25,26,James Graham,chawkins@example.net,(969)800-0025x2615,"2809 Young Squares, Lisaside, VA 53732",2024-03-10,Gold
26,27,William Morrison,browningdavid@example.org,578-295-0698,"76577 Keith Falls, West Melissashire, NC 55275",2024-08-01,Gold
27,28,Brandon Hall,brandonhall@gmail.com,858-252-9573,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",2024-04-07,Gold
28,29,Morgan Wilson,michelle12@example.net,4104431191,"05880 Hudson Row, Jessefurt, KS 54128",2024-11-04,Silver
29,30,Heather Hill,qwillis@example.com,(665)458-5482,"4339 Brown Crescent, Lambchester, SD 62832",2024-12-15,Silver
30,31,Louis Beasley,bjones@example.net,(723)578-4770x2607,"71975 Smith Drive Suite 746, Bairdmouth, MP 70886",2023-09-18,Bronze
31,32,Julie Shelton,ryanpatel@example.net,406.608.0039x3832,"USNS Brown, FPO AP 55711",2024-12-02,Gold
32,33,Erin Stephens,kyle83@example.com,001-947-626-2105x0040,"5911 Amy Creek Suite 329, Michaelside, CO 25722",2024-08-02,Silver
33,34,Christopher Powers,nsimmons@example.com,(298)987-5455x779,"27599 David Mews, Juliefort, AL 92098",2024-06-09,Silver
34,35,Rachel Lang,huntcourtney@example.org,+1-395-932-4542x0693,"PSC 5662, Box 7419, APO AA 70596",2024-11-13,Silver
35,36,Christopher Clark,christopherclark@gmail.com,526.725.4397x47233,"2325 Danielle Knolls Suite 719, Gabrielleview,...",2024-01-13,Gold
36,37,Jessica Hardy,cherylray@example.org,+1-860-478-6973,"8293 Martin Ridges Apt. 444, Lake Erikfort, MH...",2024-08-13,Gold
37,38,Paul Collins,brittanychase@example.com,+1-669-645-8342x45344,"895 Anthony Lodge Suite 819, North Cassandra, ...",2024-07-05,Bronze
38,39,Lauren Fisher,wesley32@example.net,231.234.9414,"9633 Victoria Loop Apt. 271, Hannahside, MS 96656",2025-06-14,Gold
39,40,Amy Gates,jesse14@example.org,240.358.0188x02755,"69324 Jennifer Plaza Apt. 905, Haroldview, MD ...",2024-11-24,Gold
40,41,Breanna Elliott,mark59@example.net,(873)277-5013x3877,"29664 Lauren Mountain Apt. 243, West Mary, NV ...",2024-11-19,Silver
41,42,Mr. Andrew Austin,heather79@example.com,(698)852-3560,"200 Thomas Flat, South James, MP 96716",2025-06-12,Gold
42,43,Kelsey Young,mckeeconnie@example.org,315.338.8448,"8806 Davis Fall Suite 188, East Brenda, WI 95051",2024-12-04,Gold
43,44,Travis Neal,stewartkeith@example.org,001-287-660-8068x17694,"1024 Cynthia Way, East Christina, HI 44699",2025-01-13,Bronze
44,45,Gordon Logan,robert26@example.org,873-246-2860x25185,"8399 Christopher Cliff Suite 911, Joshuashire,...",2023-06-24,Silver
45,46,Felicia Noble,taylorcatherine@example.net,+1-413-522-3307x26004,"Unit 7244 Box 4360, DPO AP 11537",2023-10-23,Gold
46,47,Robin Hill,brownselena@example.net,+1-646-270-1132x71843,"93477 Jose Ville Suite 818, Bethanyton, GA 79420",2024-04-22,Silver
47,48,Julie Hardy,robert73@example.net,001-264-626-1557,"167 Lisa Orchard Suite 613, Meredithport, MT 2...",2023-12-03,Gold
48,49,Kevin Smith,joannewolfe@example.net,871-533-1692x737,"346 Hill Meadow Suite 327, Port Kari, MP 75439",2023-08-17,Bronze
49,50,Valerie Lee,jason40@example.org,(248)683-4465,"805 Silva Alley Suite 967, Kennethstad, ND 46111",2025-04-06,Gold
50,51,David Garza,davidgarza@gmail.com,001-823-650-0884x4834,"USS Williams, FPO AA 77634",2023-10-24,Silver
51,52,Andrew Strong,matthewreed@example.com,676-615-6308,"925 Sean Oval, East Vanessa, MS 63313",2024-10-25,Bronze
52,53,Phillip Brown,yjackson@example.org,001-304-300-9970x3541,"043 Bryant Avenue, Williamsview, WA 36043",2024-05-30,Bronze
53,54,James Phillips,lopezleon@example.org,856.777.8475x9956,"8743 Henderson Fields Apt. 075, New Scottview,...",2025-05-25,Bronze
54,55,Travis Stephenson,laura99@example.com,824.777.8113,"USS Barton, FPO AA 45890",2025-04-27,Bronze
55,56,Jaime Holmes,lisa60@example.net,376-806-4181x6652,"44759 Torres Ridges Apt. 554, Lake Williamburg...",2024-02-18,Gold
56,57,Jade Murphy,mark29@example.com,(280)359-3314,"34817 Hayden Pass, North Christina, TN 32326",2025-06-06,Silver
57,58,Kathleen Gardner,ibarker@example.com,+1-990-210-7886x699,"5093 Hicks Parkways Apt. 235, New Andre, MH 65217",2023-09-18,Gold
58,59,Melissa Long,xholden@example.com,+1-965-917-4670x6479,"PSC 2039, Box 9858, APO AA 70916",2025-01-23,Silver
59,60,Larry Malone,paulmunoz@example.net,997-850-5479,"49877 Flores Burg, Lake Kimberly, ID 63294",2024-10-01,Bronze

In [513]:
df['phone']=df['phone'].fillna('not mentioned')

In [514]:
df['phone'].isna().sum()

np.int64(0)

In [515]:
df.to_csv('test1.csv',index=False)