In [362]:
pip install pandas

Requirement already satisfied: pandas in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\deepak\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
import pandas as pd
df=pd.read_csv(r"C:\Users\Deepak\Downloads\us_customer_data.csv")

In [364]:
df.tail() #first five rows

,customer_id,name,email,phone,address,registration_date,loyalty_status
995,996,Jerry Mcdaniel,walkerlisa@example.net,838.471.6445,"34746 Smith Gateway, New Sarah, AS 12715",2025-02-10,Silver
996,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze
997,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze
998,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold
999,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze

In [365]:
df.head() #last five rows

,customer_id,name,email,phone,address,registration_date,loyalty_status
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold

In [366]:
df.info() #data types and notnull count

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   customer_id        1000 non-null   int64
 1   name               1000 non-null   object
 2   email              950 non-null    object
 3   phone              950 non-null    object
 4   address            1000 non-null   object
 5   registration_date  1000 non-null   object
 6   loyalty_status     1000 non-null   object
dtypes: int64(1), object(6)
memory usage: 54.8+ KB

In [367]:
df.columns

Index(['customer_id', 'name', 'email', 'phone', 'address', 'registration_date',
       'loyalty_status'],
      dtype='object')

In [368]:
df.describe()

       customer_id
count  1000.000000
mean    500.500000
std     288.819436
min       1.000000
25%     250.750000
50%     500.500000
75%     750.250000
max    1000.000000

In [369]:
df1=pd.read_csv(r"C:\Users\Deepak\Downloads\transaction_data.csv")

In [370]:
df.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
995    False
996    False
997    False
998    False
999    False
Length: 1000, dtype: bool

In [371]:
df1[df1.duplicated("customer_id")]

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
20,21,752,2707.82,2025-05-26 07:35:44,Clothing,Credit Card,Miami
45,46,210,4277.78,2025-02-23 04:30:59,Beauty,Credit Card,Online
48,49,752,1431.10,2025-01-19 09:07:55,Electronics,PayPal,New York
64,65,67,3716.87,2025-04-11 18:34:23,Electronics,Cash,Online
90,91,373,457.98,2025-01-11 01:40:24,Clothing,Credit Card,Los Angeles
...,...,...,...,...,...,...,...
993,994,443,4232.53,2025-02-28 04:00:04,Electronics,Debit Card,Chicago
994,995,927,1368.17,2025-02-08 21:53:32,Clothing,Cash,Los Angeles
995,996,60,712.47,2025-01-13 14:16:32,Electronics,Debit Card,New York
997,998,669,3069.08,2025-04-01 19:59:01,Home,PayPal,Los Angeles
999,1000,925,4141.44,2025-05-24 13:39:19,Electronics,PayPal,Online

In [372]:
df1.head()

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
0,1,565,2992.47,2025-03-10 01:20:54,Sports,Debit Card,New York
1,2,323,2041.87,2025-01-02 15:24:19,Clothing,Cash,New York
2,3,398,107.35,2025-02-16 03:49:01,Beauty,Debit Card,Online
3,4,19,NaN,2025-04-30 15:26:23,Sports,Debit Card,Los Angeles
4,5,547,3063.28,2025-06-14 04:28:53,Clothing,PayPal,Los Angeles

In [373]:
spent_more_than_2k = df1[df1['amount']>2000]
spent_more_than_2k

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
0,1,565,2992.47,2025-03-10 01:20:54,Sports,Debit Card,New York
1,2,323,2041.87,2025-01-02 15:24:19,Clothing,Cash,New York
4,5,547,3063.28,2025-06-14 04:28:53,Clothing,PayPal,Los Angeles
6,7,615,3027.38,2025-03-18 15:59:16,Beauty,Credit Card,Chicago
7,8,1,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
...,...,...,...,...,...,...,...
993,994,443,4232.53,2025-02-28 04:00:04,Electronics,Debit Card,Chicago
996,997,235,2125.18,2025-06-09 12:37:36,Electronics,PayPal,Chicago
997,998,669,3069.08,2025-04-01 19:59:01,Home,PayPal,Los Angeles
998,999,931,2262.75,2025-06-08 01:36:01,Clothing,Debit Card,Online
999,1000,925,4141.44,2025-05-24 13:39:19,Electronics,PayPal,Online

In [ ]:
df=pd.merge(df,df1,on='customer_id',how='left')
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8.0,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427.0,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452.0,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45.0,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
1349,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304.0,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
1350,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886.0,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online
1351,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1352,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
mail_na = df[df['email'].isna()]
mail_na

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
43,28,Brandon Hall,NaN,858-252-9573,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",2024-04-07,Gold,210.0,2404.43,2025-05-11 16:03:42,Clothing,Credit Card,Chicago
56,36,Christopher Clark,NaN,526.725.4397x47233,"2325 Danielle Knolls Suite 719, Gabrielleview,...",2024-01-13,Gold,709.0,990.05,2025-04-15 06:24:06,Clothing,Credit Card,New York
74,51,David Garza,NaN,001-823-650-0884x4834,"USS Williams, FPO AA 77634",2023-10-24,Silver,NaN,NaN,NaN,NaN,NaN,NaN
104,74,Tony Romero,NaN,NaN,"92893 Lopez Key Apt. 330, South Latasha, NJ 01621",2023-08-01,Gold,NaN,NaN,NaN,NaN,NaN,NaN
105,75,Haley Jones,NaN,282.685.2507x803,"43986 Frost Forge, East Michellemouth, FL 84797",2024-12-27,Gold,NaN,NaN,NaN,NaN,NaN,NaN
133,95,Jacob Pratt,NaN,001-571-489-8010x6124,"902 Christine Port, North Deanna, TN 03407",2024-07-02,Silver,486.0,2885.89,2025-03-30 16:14:41,Clothing,Cash,Los Angeles
144,104,Jacob Williams,NaN,437-254-2080x480,"Unit 8694 Box 6181, DPO AE 32297",2024-07-10,Silver,838.0,3736.19,2025-03-30 16:29:43,Home,Debit Card,Miami
288,210,Steven Little,NaN,(957)520-6709x5149,"98653 Patel Brook Suite 801, North Pamela, VA ...",2024-11-09,Gold,41.0,4484.24,2025-01-27 13:52:07,Beauty,Cash,Los Angeles
289,210,Steven Little,NaN,(957)520-6709x5149,"98653 Patel Brook Suite 801, North Pamela, VA ...",2024-11-09,Gold,46.0,4277.78,2025-02-23 04:30:59,Beauty,Credit Card,Online
290,210,Steven Little,NaN,(957)520-6709x5149,"98653 Patel Brook Suite 801, North Pamela, VA ...",2024-11-09,Gold,944.0,3463.49,2025-02-04 20:33:32,Electronics,PayPal,New York
313,226,Ryan Thompson,NaN,+1-669-615-7174,"62857 Anne Trafficway Suite 294, New Anthony, ...",2025-03-28,Gold,368.0,2300.10,2025-05-08 20:50:22,Home,Debit Card,Miami
329,240,Jocelyn Brandt,NaN,381.563.2816x8488,"50829 Case Pine, Christopherside, ND 87541",2023-08-14,Gold,276.0,1001.23,2025-03-03 20:31:59,Beauty,Debit Card,New York
330,240,Jocelyn Brandt,NaN,381.563.2816x8488,"50829 Case Pine, Christopherside, ND 87541",2023-08-14,Gold,827.0,3141.98,2025-05-17 18:45:54,Sports,Credit Card,Online
342,251,Jonathan Hernandez,NaN,341-867-1587,"PSC 5796, Box 7390, APO AP 24704",2024-09-26,Silver,NaN,NaN,NaN,NaN,NaN,NaN
384,282,James Jensen,NaN,+1-769-635-8346,"774 Lauren Squares, Costahaven, IA 17042",2025-01-07,Gold,NaN,NaN,NaN,NaN,NaN,NaN
388,284,Jennifer Hill,NaN,+1-466-448-2723x593,"9922 Ronald Ridges, Lake Rachel, MH 97898",2025-06-04,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
389,285,Timothy Roberts,NaN,516-310-9434x26918,"947 Singh Summit Apt. 802, Johnsburgh, CO 65026",2023-10-24,Gold,237.0,725.18,2025-05-26 17:23:24,Home,Credit Card,Chicago
399,294,Sarah Porter,NaN,907.339.2938x748,"251 Lisa Rue Suite 975, Rodriguezchester, AR 3...",2023-08-31,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
434,318,Jade Guerrero,NaN,(313)924-0006x09544,"2807 Coleman Unions Suite 682, West Christineb...",2024-12-20,Silver,866.0,3070.80,2025-05-25 13:36:29,Home,PayPal,New York
498,368,Micheal Hess,NaN,001-533-410-9534x6370,"07256 Johnson Row, East Rebecca, GU 81645",2023-12-16,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
532,390,Jennifer Church,NaN,945-401-8189x295,"7024 Dustin Hollow, East Mariaburgh, TX 82934",2024-06-29,Bronze,308.0,1060.95,2025-03-03 11:35:08,Electronics,Debit Card,Miami
574,417,Kimberly Keith,NaN,(475)585-6585x2149,"023 Donald Streets, Hoffmanberg, MA 60517",2023-12-18,Silver,NaN,NaN,NaN,NaN,NaN,NaN
602,435,Megan Moore,NaN,+1-803-921-1436,"4606 Spencer Lake, South Randallfurt, MD 48335",2024-07-26,Gold,NaN,NaN,NaN,NaN,NaN,NaN
609,441,Stephanie Frank,NaN,995-356-2361x2843,"Unit 8568 Box 7099, DPO AA 48495",2025-03-09,Bronze,908.0,NaN,2025-05-12 15:19:20,Beauty,Cash,New York
640,468,Alice Cruz,NaN,593-240-3965x4730,"042 Scott Expressway, Marcshire, SD 01800",2025-02-01,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
658,482,Paula Anderson,NaN,815-530-5841x33910,"3992 Hannah Flat Suite 078, East Adamfort, CO ...",2023-09-09,Gold,182.0,4594.95,2025-03-08 12:27:53,Clothing,Cash,Chicago
662,485,Leslie Gomez,NaN,9039620546,"04538 Johnson Falls Apt. 264, Kellybury, FL 80020",2024-06-28,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
675,492,Shannon Wright,NaN,257.830.4932x223,"586 Thomas Crescent, Murphyshire, WY 36239",2025-04-06,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
684,498,Matthew Salazar,NaN,001-797-615-2859x75759,"340 Nathaniel Mill, New Patricia, NC 94010",2023-09-29,Silver,424.0,433.18,2025-01-04 01:47:15,Sports,Cash,New York
685,499,Shane Warner,NaN,NaN,"8106 Cory Green Apt. 982, South Katherinefort,...",2024-06-28,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
744,545,Mary Buck,NaN,+1-820-693-3394x211,"7681 Linda Glen Suite 691, North Ronaldfort, A...",2024-05-20,Gold,NaN,NaN,NaN,NaN,NaN,NaN
780,572,Ms. Stephanie Rodriguez MD,NaN,981-524-9535,"11787 Catherine Divide, Russellmouth, CO 67747",2024-07-26,Bronze,287.0,3008.61,2025-04-06 02:53:30,Home,Cash,Online
804,592,Joshua Blankenship,NaN,324.587.3078,"18212 David Run Suite 210, Lindsaychester, OR ...",2024-02-21,Gold,NaN,NaN,NaN,NaN,NaN,NaN
838,621,Christina Erickson,NaN,+1-480-369-4397x153,"60718 Melissa Ville, East Justin, MT 85526",2025-05-05,Gold,NaN,NaN,NaN,NaN,NaN,NaN
926,687,Thomas Oneill,NaN,001-643-344-9861,"4512 Kathryn Manor Suite 493, Port Terri, MN 7...",2023-11-15,Silver,769.0,2975.30,2025-05-05 01:55:40,Beauty,Cash,Miami
952,708,Susan Allen,NaN,NaN,"7429 Allen Branch Apt. 579, South Jaimeside, T...",2023-10-29,Gold,498.0,943.53,2025-01-22 22:16:43,Clothing,PayPal,Los Angeles
953,708,Susan Allen,NaN,NaN,"7429 Allen Branch Apt. 579, South Jaimeside, T...",2023-10-29,Gold,514.0,4129.48,2025-01-27 02:13:38,Beauty,Debit Card,Online
967,720,Jennifer Smith,NaN,+1-750-280-4572x37726,"209 Rodgers Pike Apt. 174, New Markside, VI 72242",2023-09-17,Gold,NaN,NaN,NaN,NaN,NaN,NaN
969,722,Jimmy Hernandez,NaN,(664)510-3790x755,"788 Pamela Spurs, West Nicholasburgh, AR 21022",2024-01-11,Gold,NaN,NaN,NaN,NaN,NaN,NaN
975,726,Helen Finley,NaN,344.656.7274,"129 Barnes Lane, Ramirezton, GA 08400",2024-07-19,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1011,748,Derrick Gray,NaN,001-570-431-3417x52898,"603 Tara Meadows, Carsonview, MS 64700",2023-09-25,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1012,749,Daniel Freeman,NaN,823.548.2364x6064,"283 Meyers Lock Suite 379, Millerburgh, RI 88856",2025-06-05,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
1090,801,Tammy Walker,NaN,NaN,"440 Willis Green, New Katrinaland, MO 82775",2023-09-16,Silver,NaN,NaN,NaN,NaN,NaN,NaN
1109,816,Janice Olson,NaN,(234)782-1373x6374,"9546 Colin Key Suite 653, Walkermouth, PW 47699",2024-08-10,Silver,607.0,NaN,2025-01-09 11:16:56,Sports,Cash,Chicago
1127,829,Joshua Moore,NaN,753-229-5959x4282,"USNS Owens, FPO AE 60039",2023-09-13,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1136,835,Mrs. Laurie Jennings,NaN,001-701-430-9498x100,"85592 Timothy Walks, Alyssaland, AS 39601",2024-09-25,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
1150,848,Kristopher Lewis,NaN,8542508423,"8713 Robert Knolls, North Chris, FM 69864",2024-04-22,Gold,657.0,2906.18,2025-03-01 19:30:37,Clothing,Debit Card,Los Angeles
1151,848,Kristopher Lewis,NaN,8542508423,"8713 Robert Knolls, North Chris, FM 69864",2024-04-22,Gold,906.0,3313.64,2025-05-29 03:10:59,Sports,PayPal,New York
1157,852,Andrew Garcia,NaN,001-938-982-5413x0428,"471 Miller Cove Apt. 974, New Gail, CT 52595",2025-02-14,Bronze,572.0,4995.63,2025-03-17 11:37:48,Sports,Credit Card,Chicago
1167,858,Andrea Miranda,NaN,228-391-8977,"560 Melinda Haven, West Davidchester, PW 87390",2023-11-17,Bronze,554.0,4085.26,2025-01-19 11:06:00,Electronics,Cash,Miami
1168,858,Andrea Miranda,NaN,228-391-8977,"560 Melinda Haven, West Davidchester, PW 87390",2023-11-17,Bronze,591.0,765.27,2025-02-11 03:37:55,Clothing,Credit Card,Miami
1182,869,Anna Graves,NaN,893-685-9679x613,"11136 Howard Courts, Greenstad, OR 22596",2023-10-13,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
1220,900,Stephanie Perry,NaN,612.351.4724x349,"2611 Beasley Valleys, Danaburgh, MS 60418",2024-04-19,Bronze,535.0,3204.92,2025-02-11 17:13:57,Electronics,Credit Card,Miami
1252,921,Robin Barber,NaN,5014396860,"291 William Ways, Jenkinshaven, MA 88232",2024-01-13,Silver,741.0,2018.07,2025-06-06 14:11:07,Sports,Cash,Miami
1286,947,Wendy Lopez,NaN,840-955-1330,"16210 Christie Drives Apt. 640, North Jamesvil...",2024-01-23,Gold,923.0,1090.62,2025-01-09 12:05:53,Home,Debit Card,Miami
1312,971,Charlotte Kline,NaN,(710)300-3577x978,"6992 Jones Forest Apt. 304, Leeborough, PR 72282",2023-08-07,Bronze,816.0,NaN,2025-02-05 01:07:22,Beauty,PayPal,New York

In [ ]:
df['email'] = df['email'].fillna(
df['name'].str.replace(" ", "").str.lower() + "@gmail.com"
)

In [ ]:
mail_na = df[df['email'].isna()]
mail_na

Empty DataFrame
Columns: [customer_id, name, email, phone, address, registration_date, loyalty_status, transaction_id, amount, transaction_date, product_category, payment_method, store_location]
Index: []

In [ ]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8.0,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427.0,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452.0,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45.0,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
1349,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304.0,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
1350,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886.0,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online
1351,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1352,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
repeated_customers = df[df.duplicated('customer_id', keep=False)]
repeated_customers

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
6,7,Louis Miller,patriciaelliott@example.org,001-418-931-4146x588,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470.0,3241.66,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
7,7,Louis Miller,patriciaelliott@example.org,001-418-931-4146x588,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,857.0,697.57,2025-06-13 12:03:42,Beauty,Debit Card,Chicago
10,10,Rachel White,whitemichael@example.org,001-920-793-4515x302,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,173.0,3456.05,2025-04-15 19:26:48,Home,Debit Card,Online
11,10,Rachel White,whitemichael@example.org,001-920-793-4515x302,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,548.0,2954.52,2025-05-21 22:54:54,Sports,Debit Card,Miami
12,10,Rachel White,whitemichael@example.org,001-920-793-4515x302,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,831.0,220.35,2025-05-21 17:47:53,Sports,PayPal,Los Angeles
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1344,995,Deanna Johnson,ycook@example.org,+1-639-853-2802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,129.0,4653.24,2025-04-25 23:19:54,Beauty,Cash,Chicago
1345,995,Deanna Johnson,ycook@example.org,+1-639-853-2802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,532.0,759.38,2025-03-14 16:56:22,Home,PayPal,New York
1346,995,Deanna Johnson,ycook@example.org,+1-639-853-2802,"601 Contreras Forges, Michaelfurt, KY 30733",2023-11-01,Silver,617.0,821.18,2025-01-23 07:39:19,Electronics,Debit Card,Miami
1349,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304.0,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
1350,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886.0,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online

In [ ]:

df

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8.0,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427.0,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452.0,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45.0,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
1349,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304.0,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
1350,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886.0,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online
1351,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1352,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df['phone'].isna().sum()

np.int64(70)

In [ ]:
missing_phones = df[df['phone'].isna()]
missing_phones

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8.0,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
98,68,Christopher Adkins,patricia48@example.com,NaN,"USNV Kennedy, FPO AA 06170",2024-09-19,Silver,NaN,NaN,NaN,NaN,NaN,NaN
101,71,Patrick Gibson,ashleygarner@example.org,NaN,"924 Riley Trail Suite 206, Lake Karenshire, RI...",2023-09-13,Gold,893.0,470.04,2025-03-29 13:05:44,Electronics,PayPal,Online
104,74,Tony Romero,tonyromero@gmail.com,NaN,"92893 Lopez Key Apt. 330, South Latasha, NJ 01621",2023-08-01,Gold,NaN,NaN,NaN,NaN,NaN,NaN
111,81,Charles Fitzgerald,nicole67@example.com,NaN,"78180 Todd Loaf, Matthewbury, MO 31158",2025-01-16,Gold,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1321,980,Sharon Hernandez,sherry23@example.com,NaN,"PSC 2167, Box 8119, APO AE 16205",2025-03-31,Gold,364.0,NaN,2025-01-30 11:32:51,Home,Cash,New York
1322,980,Sharon Hernandez,sherry23@example.com,NaN,"PSC 2167, Box 8119, APO AE 16205",2025-03-31,Gold,883.0,2715.80,2025-02-07 16:27:42,Clothing,Cash,Online
1337,990,Mrs. Alexis Brown,amy77@example.com,NaN,"083 John Lock, East Dennis, NY 30784",2024-03-09,Gold,862.0,788.52,2025-03-12 10:50:41,Beauty,Credit Card,Online
1338,991,Erica Fleming,erica85@example.net,NaN,"55648 Gilbert Square, Port Jessica, OR 63566",2025-01-21,Silver,171.0,3346.40,2025-05-29 20:17:50,Clothing,Cash,Miami
1339,991,Erica Fleming,erica85@example.net,NaN,"55648 Gilbert Square, Port Jessica, OR 63566",2025-01-21,Silver,808.0,2781.52,2025-05-14 07:30:24,Clothing,Credit Card,Los Angeles

In [ ]:
df['email']=df['email'].fillna(
    df['name'].str.replace(' ','').str.lower()+""
)

In [ ]:
df

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,NaN,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8.0,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427.0,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452.0,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45.0,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
1349,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304.0,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
1350,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886.0,NaN,2025-03-16 15:42:17,Beauty,Debit Card,Online
1351,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,NaN,NaN,NaN,NaN,NaN,NaN
1352,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:

df['phone'] = df['phone'].fillna("not provided")

In [ ]:
df
df['phone'].isnull()

0       False
1       False
2       False
3       False
4       False
        ...
1348    False
1349    False
1350    False
1351    False
1352    False
Name: phone, Length: 1353, dtype: bool

In [ ]:
df.head(60)

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,not provided,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8.0,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427.0,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452.0,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
5,6,Darrell Gallagher DVM,larryharris@example.org,+1-971-475-6369x8486,"19887 Brandon Bridge, New Rebecca, MA 94947",2025-03-03,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
6,7,Louis Miller,patriciaelliott@example.org,001-418-931-4146x588,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,470.0,3241.66,2025-05-15 15:17:05,Electronics,PayPal,Los Angeles
7,7,Louis Miller,patriciaelliott@example.org,001-418-931-4146x588,"02590 Marshall Well, Sheppardland, CT 88067",2024-09-30,Gold,857.0,697.57,2025-06-13 12:03:42,Beauty,Debit Card,Chicago
8,8,Melissa Galloway MD,watsonbenjamin@example.net,+1-593-948-3872,"209 Steven Oval Apt. 022, Mollyhaven, NC 10211",2023-10-06,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
9,9,Matthew Harvey,bgaines@example.net,(710)854-4550,"60123 Davis Ford, Mistychester, WA 69400",2024-10-31,Silver,300.0,918.34,2025-05-07 20:01:01,Electronics,PayPal,Miami
10,10,Rachel White,whitemichael@example.org,001-920-793-4515x302,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,173.0,3456.05,2025-04-15 19:26:48,Home,Debit Card,Online
11,10,Rachel White,whitemichael@example.org,001-920-793-4515x302,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,548.0,2954.52,2025-05-21 22:54:54,Sports,Debit Card,Miami
12,10,Rachel White,whitemichael@example.org,001-920-793-4515x302,"6182 Brown Mountain, South Gary, IL 29016",2024-02-25,Bronze,831.0,220.35,2025-05-21 17:47:53,Sports,PayPal,Los Angeles
13,11,Nicole Yang,archerheather@example.org,001-385-627-5676x7067,"923 Emily Mills Apt. 281, Port Roy, WI 03921",2025-03-08,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
14,12,Christine Delgado,yfarrell@example.net,932.206.7195x8325,"PSC 4025, Box 2078, APO AA 61121",2024-04-18,Bronze,126.0,3696.64,2025-02-15 19:59:56,Beauty,Cash,Online
15,12,Christine Delgado,yfarrell@example.net,932.206.7195x8325,"PSC 4025, Box 2078, APO AA 61121",2024-04-18,Bronze,560.0,NaN,2025-02-08 02:57:55,Beauty,Debit Card,Miami
16,13,Joseph Brennan,khernandez@example.com,549-356-4430,"8890 Keller Hills, North Paul, FM 64749",2024-04-28,Gold,301.0,NaN,2025-03-18 04:40:03,Beauty,Debit Card,Chicago
17,13,Joseph Brennan,khernandez@example.com,549-356-4430,"8890 Keller Hills, North Paul, FM 64749",2024-04-28,Gold,967.0,631.85,2025-02-18 17:30:32,Home,Cash,Online
18,14,Eric Thomas,spencer75@example.com,001-353-817-6492x04270,"352 Joel Extension Suite 962, New Anthony, CO ...",2024-05-09,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
19,15,Laura Perez,sdavid@example.com,511.900.2681x4189,"1518 Green Locks Suite 348, New Brent, FM 51849",2024-12-04,Gold,504.0,3194.72,2025-06-01 14:13:06,Beauty,Debit Card,Online
20,16,Erin Matthews,uhunter@example.net,889-275-9024x61618,"67623 Morgan Hollow, Hillshire, IL 78665",2023-11-12,Bronze,531.0,322.34,2025-04-05 11:19:25,Clothing,Debit Card,Los Angeles
21,16,Erin Matthews,uhunter@example.net,889-275-9024x61618,"67623 Morgan Hollow, Hillshire, IL 78665",2023-11-12,Bronze,635.0,492.19,2025-01-23 18:39:00,Clothing,Cash,Miami
22,17,Melissa Alvarado,parkjohn@example.net,+1-345-478-5691x220,"USNS Austin, FPO AP 52643",2024-06-24,Gold,116.0,404.66,2025-05-15 09:16:08,Home,Debit Card,New York
23,17,Melissa Alvarado,parkjohn@example.net,+1-345-478-5691x220,"USNS Austin, FPO AP 52643",2024-06-24,Gold,374.0,2445.23,2025-02-18 22:07:41,Home,Credit Card,Chicago
24,17,Melissa Alvarado,parkjohn@example.net,+1-345-478-5691x220,"USNS Austin, FPO AP 52643",2024-06-24,Gold,681.0,4752.12,2025-05-31 10:50:45,Sports,Cash,Miami
25,18,Mr. Ernest Dunn,kelseybrown@example.net,6209840256,"3112 Lydia Freeway Suite 927, South Susan, RI ...",2025-01-27,Gold,570.0,2929.47,2025-03-18 13:34:29,Beauty,Credit Card,Miami
26,19,David Johnson,marynelson@example.org,+1-847-920-4578x754,"992 Harris Pines Suite 049, North Marychester,...",2025-02-21,Silver,4.0,NaN,2025-04-30 15:26:23,Sports,Debit Card,Los Angeles
27,19,David Johnson,marynelson@example.org,+1-847-920-4578x754,"992 Harris Pines Suite 049, North Marychester,...",2025-02-21,Silver,99.0,4361.19,2025-05-27 16:17:17,Electronics,Credit Card,Chicago
28,19,David Johnson,marynelson@example.org,+1-847-920-4578x754,"992 Harris Pines Suite 049, North Marychester,...",2025-02-21,Silver,546.0,1600.94,2025-03-24 15:39:10,Beauty,Debit Card,Online
29,20,Wayne Morales,qwilliams@example.com,956-836-0130,"15344 Hill Pike, Matthewport, FL 45434",2025-02-22,Gold,195.0,746.43,2025-04-02 02:14:27,Home,PayPal,Miami
30,20,Wayne Morales,qwilliams@example.com,956-836-0130,"15344 Hill Pike, Matthewport, FL 45434",2025-02-22,Gold,291.0,3402.30,2025-03-24 02:17:33,Electronics,PayPal,Miami
31,20,Wayne Morales,qwilliams@example.com,956-836-0130,"15344 Hill Pike, Matthewport, FL 45434",2025-02-22,Gold,874.0,3934.82,2025-05-04 10:16:59,Sports,Credit Card,Online
32,21,Michael Vincent,jonesjeffrey@example.com,765-684-4638x56611,"455 Moore Orchard, New Richardhaven, RI 42023",2024-06-13,Silver,176.0,4674.53,2025-02-25 15:55:18,Clothing,Credit Card,Miami
33,22,Tammie Mcgee,nsullivan@example.com,2832830187,"6371 Long Path Apt. 940, South Anthonyton, MT ...",2024-10-24,Silver,721.0,640.83,2025-05-04 03:33:13,Sports,Cash,Los Angeles
34,23,Marisa Martinez,zward@example.org,3925177127,"5029 Wall Mountain Suite 847, New Chelseabury,...",2025-03-29,Bronze,442.0,1908.49,2025-04-21 01:10:46,Beauty,Debit Card,Online
35,24,Crystal Peterson,taylorcharles@example.com,(964)280-9583x310,"Unit 5741 Box 1124, DPO AA 18219",2023-08-07,Bronze,133.0,979.81,2025-06-13 05:19:21,Electronics,PayPal,Online
36,24,Crystal Peterson,taylorcharles@example.com,(964)280-9583x310,"Unit 5741 Box 1124, DPO AA 18219",2023-08-07,Bronze,141.0,1164.89,2025-06-05 09:17:17,Clothing,Debit Card,Chicago
37,24,Crystal Peterson,taylorcharles@example.com,(964)280-9583x310,"Unit 5741 Box 1124, DPO AA 18219",2023-08-07,Bronze,717.0,4292.90,2025-03-18 08:24:05,Home,Cash,Los Angeles
38,25,Jeremy Alexander,smithkevin@example.com,475-930-5339x6078,"1520 Reid Turnpike, Clarkville, CA 39102",2025-06-13,Silver,493.0,591.95,2025-05-13 06:44:39,Beauty,Debit Card,Online
39,26,James Graham,chawkins@example.net,(969)800-0025x2615,"2809 Young Squares, Lisaside, VA 53732",2024-03-10,Gold,868.0,3378.58,2025-04-27 11:24:04,Clothing,Debit Card,Los Angeles
40,27,William Morrison,browningdavid@example.org,578-295-0698,"76577 Keith Falls, West Melissashire, NC 55275",2024-08-01,Gold,214.0,2887.52,2025-05-15 08:47:35,Clothing,Debit Card,Chicago
41,27,William Morrison,browningdavid@example.org,578-295-0698,"76577 Keith Falls, West Melissashire, NC 55275",2024-08-01,Gold,753.0,3558.59,2025-04-25 08:18:22,Electronics,PayPal,Miami
42,27,William Morrison,browningdavid@example.org,578-295-0698,"76577 Keith Falls, West Melissashire, NC 55275",2024-08-01,Gold,813.0,2468.38,2025-05-16 04:49:59,Home,PayPal,Los Angeles
43,28,Brandon Hall,brandonhall@gmail.com,858-252-9573,"8143 Robert Cove Apt. 103, Sanchezport, CO 78231",2024-04-07,Gold,210.0,2404.43,2025-05-11 16:03:42,Clothing,Credit Card,Chicago
44,29,Morgan Wilson,michelle12@example.net,4104431191,"05880 Hudson Row, Jessefurt, KS 54128",2024-11-04,Silver,NaN,NaN,NaN,NaN,NaN,NaN
45,30,Heather Hill,qwillis@example.com,(665)458-5482,"4339 Brown Crescent, Lambchester, SD 62832",2024-12-15,Silver,946.0,1252.53,2025-06-01 10:04:29,Home,Cash,Miami
46,31,Louis Beasley,bjones@example.net,(723)578-4770x2607,"71975 Smith Drive Suite 746, Bairdmouth, MP 70886",2023-09-18,Bronze,905.0,258.16,2025-05-28 23:35:33,Sports,Credit Card,Miami
47,32,Julie Shelton,ryanpatel@example.net,406.608.0039x3832,"USNS Brown, FPO AP 55711",2024-12-02,Gold,70.0,1272.21,2025-04-03 07:26:00,Sports,Debit Card,Miami
48,32,Julie Shelton,ryanpatel@example.net,406.608.0039x3832,"USNS Brown, FPO AP 55711",2024-12-02,Gold,469.0,4664.71,2025-05-06 10:40:47,Sports,PayPal,Los Angeles
49,33,Erin Stephens,kyle83@example.com,001-947-626-2105x0040,"5911 Amy Creek Suite 329, Michaelside, CO 25722",2024-08-02,Silver,137.0,4934.62,2025-03-28 19:03:18,Electronics,Cash,Online
50,33,Erin Stephens,kyle83@example.com,001-947-626-2105x0040,"5911 Amy Creek Suite 329, Michaelside, CO 25722",2024-08-02,Silver,224.0,3477.45,2025-05-29 09:29:52,Home,Credit Card,New York
51,34,Christopher Powers,nsimmons@example.com,(298)987-5455x779,"27599 David Mews, Juliefort, AL 92098",2024-06-09,Silver,456.0,4270.26,2025-04-21 20:03:33,Sports,PayPal,Chicago
52,34,Christopher Powers,nsimmons@example.com,(298)987-5455x779,"27599 David Mews, Juliefort, AL 92098",2024-06-09,Silver,522.0,1037.02,2025-04-13 01:06:52,Electronics,Credit Card,Chicago
53,35,Rachel Lang,huntcourtney@example.org,+1-395-932-4542x0693,"PSC 5662, Box 7419, APO AA 70596",2024-11-13,Silver,130.0,3691.23,2025-01-18 18:29:24,Home,Debit Card,Online
54,35,Rachel Lang,huntcourtney@example.org,+1-395-932-4542x0693,"PSC 5662, Box 7419, APO AA 70596",2024-11-13,Silver,495.0,2947.59,2025-04-25 16:52:12,Clothing,Credit Card,New York
55,35,Rachel Lang,huntcourtney@example.org,+1-395-932-4542x0693,"PSC 5662, Box 7419, APO AA 70596",2024-11-13,Silver,593.0,73.20,2025-06-10 03:55:57,Home,Debit Card,New York
56,36,Christopher Clark,christopherclark@gmail.com,526.725.4397x47233,"2325 Danielle Knolls Suite 719, Gabrielleview,...",2024-01-13,Gold,709.0,990.05,2025-04-15 06:24:06,Clothing,Credit Card,New York
57,37,Jessica Hardy,cherylray@example.org,+1-860-478-6973,"8293 Martin Ridges Apt. 444, Lake Erikfort, MH...",2024-08-13,Gold,204.0,1944.72,2025-02-03 17:50:58,Sports,Credit Card,Miami
58,38,Paul Collins,brittanychase@example.com,+1-669-645-8342x45344,"895 Anthony Lodge Suite 819, North Cassandra, ...",2024-07-05,Bronze,NaN,NaN,NaN,NaN,NaN,NaN
59,39,Lauren Fisher,wesley32@example.net,231.234.9414,"9633 Victoria Loop Apt. 271, Hannahside, MS 96656",2025-06-14,Gold,NaN,NaN,NaN,NaN,NaN,NaN

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,not provided,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8.0,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,NaN,0.00,NaN,NaN,NaN,NaN
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,NaN,0.00,NaN,NaN,NaN,NaN
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427.0,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452.0,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45.0,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
1349,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304.0,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
1350,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886.0,0.00,2025-03-16 15:42:17,Beauty,Debit Card,Online
1351,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,NaN,0.00,NaN,NaN,NaN,NaN
1352,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,NaN,0.00,NaN,NaN,NaN,NaN

In [391]:
merge_table

,customer_id,name,email,phone,address,registration_date,loyalty_status,transaction_id,amount,transaction_date,product_category,payment_method,store_location
0,1,Michelle Kidd,vayala@example.net,not provided,"USNS Santiago, FPO AE 80872",2025-01-25,Gold,8.0,2652.57,2025-04-19 14:46:00,Home,Credit Card,New York
1,2,Brad Newton,taylorcatherine@example.net,(759)518-8536x738,"38783 Oliver Street, West Kristenborough, MT 9...",2023-07-13,Silver,NaN,0.00,NaN,NaN,NaN,NaN
2,3,Larry Torres,dsanchez@example.net,001-323-525-3094x96062,"6845 Steele Turnpike, West Erikabury, UT 37487",2023-08-18,Bronze,NaN,0.00,NaN,NaN,NaN,NaN
3,4,Kimberly Price,jessicaknight@example.com,001-947-633-4224x07930,"1631 Alexis Meadows, Lake Amanda, CA 75179",2024-12-08,Gold,427.0,1787.09,2025-04-28 04:34:07,Beauty,PayPal,Chicago
4,5,Matthew Phillips,qwilliams@example.com,001-869-650-5682x8385,"2274 Williams Heights Suite 895, Andersonhaven...",2024-02-03,Gold,452.0,1983.52,2025-02-03 14:59:13,Sports,PayPal,Online
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1348,997,Jodi Simpson,eric24@example.org,+1-408-681-5204x264,"2876 Tucker Road Suite 947, North Tommyborough...",2024-04-18,Bronze,45.0,480.64,2025-01-06 08:27:59,Home,Credit Card,Los Angeles
1349,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,304.0,73.71,2025-01-27 05:33:22,Home,Debit Card,Chicago
1350,998,Crystal Brown,pshaffer@example.net,(962)521-7928,"095 Janice Forest Suite 570, Boltonmouth, DE 7...",2024-08-30,Bronze,886.0,0.00,2025-03-16 15:42:17,Beauty,Debit Card,Online
1351,999,Gregory Duarte,caitlindunlap@example.org,750-965-7879,"Unit 6377 Box 7662, DPO AP 03300",2024-05-16,Gold,NaN,0.00,NaN,NaN,NaN,NaN
1352,1000,Jason Walls,michael42@example.com,(577)304-8260x99915,"95002 Bruce Rue, Camachoport, MH 58723",2024-12-10,Bronze,NaN,0.00,NaN,NaN,NaN,NaN

In [ ]:
df['phone']=df['phone'].fillna('not mentioned')

In [ ]:
df['phone'].isna().sum()

SyntaxError: invalid syntax (489986146.py, line 2)

In [ ]:
df.to_csv('test1.csv',index=False)

,transaction_id,customer_id,amount,transaction_date,product_category,payment_method,store_location
20,21,752,2707.82,2025-05-26 07:35:44,Clothing,Credit Card,Miami
45,46,210,4277.78,2025-02-23 04:30:59,Beauty,Credit Card,Online
48,49,752,1431.10,2025-01-19 09:07:55,Electronics,PayPal,New York
64,65,67,3716.87,2025-04-11 18:34:23,Electronics,Cash,Online
90,91,373,457.98,2025-01-11 01:40:24,Clothing,Credit Card,Los Angeles
...,...,...,...,...,...,...,...
993,994,443,4232.53,2025-02-28 04:00:04,Electronics,Debit Card,Chicago
994,995,927,1368.17,2025-02-08 21:53:32,Clothing,Cash,Los Angeles
995,996,60,712.47,2025-01-13 14:16:32,Electronics,Debit Card,New York
997,998,669,3069.08,2025-04-01 19:59:01,Home,PayPal,Los Angeles
999,1000,925,4141.44,2025-05-24 13:39:19,Electronics,PayPal,Online